.git
.gitignore
target/
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iws
*.iml
*.ipr
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.vscode/
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/
.DS_Store
Thumbs.db
Dockerfile
docker-compose.yml
.dockerignore
README.md
*.md
*.log
logs/
src/test/
*.postman_collection.json
*.tmp
*.temp